# Flask App Configuration
SECRET_KEY=your-super-secret-random-key-here
FLASK_ENV=production

# Remote MySQL / TiDB Database Configuration
MYSQL_HOST=gateway01.ap-northeast-1.prod.aws.tidbcloud.com
MYSQL_PORT=4000
MYSQL_USER=2cehH5YppVnhKiw.root
MYSQL_PASSWORD=gVzrz8rZricxKFoZ
MYSQL_DB=student_management_system

# Email Service (SMTP) Configuration (Optional - for Password Reset emails)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_DEFAULT_SENDER=noreply@edumanage.com
